#########################################
# the root of the exported namespace you allow to export on your disk servers
# just add all directories you want to allow
# this is only taken into account if you use the TokenAuthzOfs OFS
# Of course, the localroot prefix here should be omitted
# If the cluster is (correctly!) configured with the right
# localroot option, allowing / is just fine and 100% secure. That should be
# considered normal.

EXPORT PATH:/ VO:*     ACCESS:ALLOW CERT:*

# rules, which define which paths need authorization; leave it like that, that is safe

RULE PATH:/ AUTHZ:delete|write|write-once| NOAUTHZ:read| VO:*| CERT:*

